.page-title.home01 {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.page-title.home01::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.572);
  z-index: -1;
}

.heading-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}