.wg-appraisal .content .person {
  bottom: 50%;
  transform: translateY(50%);
}

.wg-appraisal .content .person.animate__fadeInRight {
  animation-name: fadeInRightCentered;
}

@keyframes fadeInRightCentered {
  from {
    opacity: 0;
    transform: translate3d(100%, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 50%, 0);
  }
}
